@charset 'UTF-8';


:root {
    /* Colores */
    --c_red50 : rgb( 255 , 0 , 0 ) ;
    --c_red500 : #f44336 ;
    --c_red600 : #e53935;
    --c_secundario : rgb( 0 ,0 , 255 ) ;
    --c_blue100 : #e53935;
    --c_white : #FFFFFF;
    --c_black : #00000 ;
    

    --c_yellow500 : rgb( 255 , 255 , 0 ) ;
    --c_primary : rgba(69, 237, 161, 1) ;

    /* Fuentes */
    --f_base : 16px ;

    /*MediaQuery sm : 350px , md : 700px , lg : 980px , xl : 1020px */
    --mq_sm : 350px ;
    --mq_md : 700px ;
    --mq_lg : 980px ;
    --mq_xl : 1440px ; /* 100% ancho de la pantalla */

    --l_main-padding : 2rem ;
}
/*Metologia Atomica & Metodologia OSCSS...*/
/*Metodologia : BEM (B)loque - (E)lemento - (M)odificador*/

html {
    font-size : var( --f_base ) ;
    font-weight : 400 ;
    font-family: 'Noto Sans', sans-serif;
}

* {
    padding : 0rem ;
    margin: 0 ;
}

img {
    block-size : auto ;
    max-inline-size : 100% ;
    aspect-ratio : 2/1 ;
    object-fit : cover ;
    object-position : center center ;
}


.Main picture img {
    background-image : image-set( bk_sm.png 1x , bk_md.png 1.5x , bk_lg.png 2x );
}
/* Comienzo Body */
/* Flexbox */

.Body {
    display : grid ;
    grid-template-columns : repeat( 12, 1fr ) ;/* Maximo 1440px*/
    grid-template-rows : 900px 742px 10px 100px ;
    gap : 0 ;

    max-width : var( --mq_xl ) ;

    background-color: var( --c_secundary ) ;
}

/*Comienzo Header*/
.Header {

    width: 100% ;
    height: 100% ;

    grid-column : 1 / 13 ;
    grid-row: 1 / 2 ;

    background-color : var( --c_black ) ;
}

.Header .section .article {
    display : flex ;
    flex-flow : row nowrap ;
    align-items : center ;
    justify-content : space-between ;

    padding: 0 var( --l_main-padding ) ;
}

.Header .section .article .logo {
    display: flex ;
    flex-flow : row nowrap ;
    align-items : center ;
    gap : 1rem ;
}

.Header .section .article .navbar .menu {
    display: flex ;
    flex-flow : row nowrap ;
    gap : 2rem ;
}

.Header .section .article .login {
    display : flex ;
    flex-flow : row nowrap ;
    gap : 2rem ;
}

.Header .masthead hgroup {
    display: flex ;
    flex-flow : column nowrap ;
    justify-content: center ;
    align-items: center ;
    gap : 1rem ;
}

.Header .masthead hgroup > h1 {
    color : var( --c_black ) ;

    text-align : center;
    font-size : clamp( 32px , 4.5rem , 80px ) ;
    font-weight : 700 ;
}

.Header .masthead hgroup > p {
    max-width : 40ch ;
    text-align : center ;
    font-size : var( --f_base ) ;

}

.Header .section .article {}

.Header .section .article .logo {}

.Header .section .article .navbar {
    color : magenta ;
}

/* Comienzo Main */
.Main {
    width: 100% ;
    height: 100% ;

    grid-column: 1 / 13 ;
    grid-row : 2 / 7 ;

    background-color: var( --c_primary ) ;
}

/*Comiezo Aside*/
.Aside {
    width: 100% ;
    height: 100% ;
    
    /*grid-column: 1 / 13 ;*/
    /*grid-row : 2 / 7 ;*/

    background-color : var( --c_secundario ) ;
}

/*Comienzo Footer*/
.Footer {
    width: 100% ;
    height: 100% ;

    display: flex ;
    flex-flow : row nowrap ;
    align-items : center ;
    justify-content : space-between ;
    padding : 0 2rem ;


    grid-column: 1 / 13 ;
    grid-row : 7 / 9 ;

    background-color: var( --c_yellow500 ) ;

    color : black ;
    text-align : center ;
}

.Footer .menu {
    padding : 0 var( --l_main-padding ) ;
}

.Footer .menu .menu__list {
    display : inline-flex ;
    flex-flow : row nowrap ;
    align-items : center ;
}
