@charset 'UTF-8';


:root {
    /* Colores */
    --c_red50 : rgb( 255 , 0 , 0 ) ;
    --c_red500 : #f44336 ;
    --c_red600 : #e53935;
    --c_secundario : rgb( 0 ,0 , 255 ) ;
    --c_blue100 : #e53935;
    

    --c_yellow500 : rgb( 255 , 255 , 0 ) ;
    --c_primary : rgba(69, 237, 161, 1) ;

    /* Fuentes */
    --f_base : 16px ;

    /*MediaQuery sm : 350px , md : 700px , lg : 980px , xl : 1020px */
    --mq_sm : 350px ;
    --mq_md : 700px ;
    --mq_lg : 980px ;
    --mq_xl : 1200px ; /* 100% ancho de la pantalla */

}
/*Metologia Atomica & Metodologia OSCSS...*/
/*Metodologia : BEM (B)loque - (E)lemento - (M)odificador*/

html {
    font-size : var( --f_base ) ;
    font-weight : 400 ;
    font-family: 'Noto Sans', sans-serif;
}

* {
    padding : 0rem ;
    margin: 0 ;
}

/* Comienzo Body */
/* Flexbox */

.Body {
    max-width : var( --mq_xl ) ;

    background-color: var( --c_secundary ) ;
    color : var( --c_secundario ) ;
}

/*Comienzo Header*/
.Header {
    width: 100% ;
    height: 100% ;
}

.Header .section {}

.Header .section .article {}

.Header .section .article .logo {}

.Header .section .article .navbar {
    color : magenta ;
}

/* Comienzo Main */
.Main {
    width: 100% ;
    height: 100% ;
}

/*Comiezo Aside*/
.Aside {
    width: 100% ;
    height: 100% ;
}

/*Comienzo Footer*/
.Footer {
    width: 100% ;
    height: 100% ;

}
